@{

}
@model FarmerModel

<div class="container-xl">
    <div class="row">
        <div class="col-xl-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Address</th>
                        <th>Birthday</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach(Farmer f in Model.Farmers)
                {
                    <tr>
                        <td>@f.FirstName</td>
                        <td>@f.LastName</td>
                        <td>@f.Address</td>
                        <td>@f.Birthday.ToShortDateString()</td>
                        <td>
                            <a class="nav-link text-dark" asp-controller="Farmer" asp-action="Detail" asp-route-id="@f.LastName">Details</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>    
</div>

<style>
    .table{
        background-color:cadetblue;
    }
</style>                  