@model IEnumerable<HUE06Shared.TodoListe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kurzbeschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErstelltAm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fälligkeitsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priorität)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kurzbeschreibung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErstelltAm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fälligkeitsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priorität)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
